.sidebarIntrestsBox {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
  .intrestBox {
    width: 120px;
    height: 90px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    cursor: pointer;
  }
  .intrestBox h1 {
    font-size: 18px;
    color: white;
    z-index: 1;
    font-family: 'Montserrat';
    font-weight: bold;
  }
  .colorOverlay{
    position: absolute;
    height:100%;
    width: 100%;
    background-color: #000;
    opacity: 0.55;
    transition: 0.25s;
  }
  .intrestBox:hover {
    transform: scale(0.9);
    border:1px solid white;
  }
  .intrestBox:hover .colorOverlay {
    opacity: 0.7;
  }
  .mainPageIntrestBoxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mainPageIntrestBoxs .intrestBox {
    width: 296px;
    height: 200px;
    margin-left: 0px;
    margin-bottom: 18px;
    font-size: 50px;
    box-shadow: 0px 0px 3px #fff;
  }
  .mainPageIntrestBoxs .intrestBox:hover{
    transform: scale(1);
  }
  .mainPageIntrestBoxs .intrestBox h1{
    font-size: 22px;
  }
  .mainPageIntrestBoxs .colorOverlay{
    opacity: 0.45;
    mix-blend-mode:luminosity;
  }
@media screen and (max-width:500px){
    .intrestBox{
      width: 115px;
    }
    .intrestBox:hover{
      transform: scale(1);
      border:0px;
    }
    .intrestBox:focus{
      transform: scale(0.9);
      border:1px solid white;
    }
}