.usersScroller {
    overflow-x: auto;
    cursor: grab;
}
.usersContainer {
    width: 2180px;
    display: flex;
    justify-content: space-between;
}
.card {
    width: 350px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9;
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}