<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/passwordChange.css">

</head>

<style>

    #id_new_password1,
    #id_new_password2 {
        border-radius: 3px;
        display: block;
        padding: 8px 10px 8px 10px;
        width: 80%;
        border: 1px solid #673AB7;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
    }

</style>

<body>
<div class="contentWrapper">
    <div class="fixedPosition">
        <div class="topBar">
            <a href="#" class="sidebarToggler"><i class="fa fa-key"
                                                  style="font-size: 20px; font-weight: 100; color:#fff"></i></a>
            <div class="searchBar">
                <h3>Reset Password</h3>
            </div>
            <a href="/" class="backBtn"><i class="fa fa-angle-left"
                                           style="font-size: 20px; font-weight: 100; color:#fff"></i></a>
        </div>
    </div>
    <div style="padding: 10px; padding-top: 20px;">


        <!-- {% if validlink %} -->
            <h5 style="font-size: 36px; font-family:'Times New Roman', Times, serif; color: #808080; font-weight: 500;">
                Set
                New Password : </h5>
            <div class="instructions" style="padding-top: 10px; ">
                <p style="font-family: 'Poppins'; color: #808080;">Please Enter your password twice so we can verify you
                    typed it correctly</p>
            </div>
            <form action="" method="POST" style="margin-top: 10px;">
                <!-- {% csrf_token %}
                {{ form }} -->
                <!-- {# -->           <label for="id_email" style="font-family: 'Poppins'; color: #808080; ">New Password :</label><input spellcheck="false" style="border-radius: 3px; display: block; padding:8px 10px 8px 10px; width:100%; max-width: 420px; border:1px solid #673AB7; margin-top: 5px; margin-bottom: 10px;" type="password" name="email" autocomplete="email" maxlength="254" required="" id="id_pass" placeholder="New Password.."><!--#}-->
               <!-- {# -->           <label for="id_email" style="font-family: 'Poppins'; color: #808080; ">Confirm Password :</label><input spellcheck="false" style="border-radius: 3px; display: block; padding:8px 10px 8px 10px;  width:100%; max-width: 420px; border:1px solid #673AB7; margin-top: 5px; margin-bottom: 10px;" type="password" name="email" autocomplete="email" maxlength="254" required="" id="id_confirmPass" placeholder="Confirm Password.."><!--#}-->
                <!-- <input type="submit" value="Change Password" class="btn btn-secondary" name="Send email"
                       style="line-height:0px;"> -->
                       <input type="submit" value="Change Password" class="btn btn-secondary" >
            </form>
        <!-- {% else %}
            <h3 class="instructions" style="margin-bottom: 225px;">The password reset link was invalid, possibly because
                it has already been used. Please request a <a href="{% url 'reset_password' %}">new password reset</a>.
            </h3>
        {% endif %} -->
    </div>
</div>

<script>

    var id_one = document.getElementById('id_new_password1');
    id_one.placeholder = 'New Password..'

    var id_two = document.getElementById('id_new_password2');
    id_two.placeholder = 'Confirm Password..'
    document.getElementsByClassName('helptext')[0].style.display = 'none';

</script>

</body>


</html>